@font-face {
    src: url(type/PlaywriteAR-VariableFont_wght.ttf);
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Didact Gothic", sans-serif;
    src: url(type/DidactGothic-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}

#header {
    outline: 5px solid white;
    outline-offset: -15px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Didact Gothic';
    text-size-adjust: 100;
    text-align: center;
    padding-top: 50px;
    line-height:60px;
    font-size: 36px;
    margin: 0;
}

#header h2 {
    text-align: center;
    font-family: 'Didact Gothic';
    color: white;
    padding-bottom: 50px;
    font-size: 22px;
}

h2 {
    font-family: 'Didact Gothic';
    color: #5e5e79;
    padding: 5px;
    font-size: 26px;
}

h3 {
    font-family: 'Didact Gothic';
    color: #5e5e79;
    padding: 5px;
    font-size: 21px;
}

p {
    font-family: 'Didact Gothic';
    color: #5e5e79;
    margin: 10px;
    margin-top: 30px;
    font-size: 18px;
}

address {
    font-family: 'Didact Gothic';
    margin: 10px;
    margin-bottom: 30px;
}

ul {
    font-family: 'Didact Gothic';
    padding: 0;
    list-style-type: none;
    text-align: center;
    font-size: 18px; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul li a {
    text-decoration: none;
    display: block;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #5e5e79;
    border-radius: 10px;
}

body {
    background: url(images/pattern.png);
}

header {
    display: block;
    background-color: #5e5e79;
    opacity: 92%;
    color: white;
}

#header img {
    height: auto;
    width: 25%;
}

#berry1 {
    position: relative;
    top: -75px;
}

#berry2 {
    position: relative;
    top: 130px;
    right: 10px;
}

#header-text h2{
    width: 100px;
    margin: auto;
    padding: 10px;
}

section {
    padding: 20px;
    padding-top: 5px;
    display: block;
    background-color: #fbd3ca;
    margin: 50px;
    outline: 6px dotted #5e5e79;
    border-radius: 20px;
    outline-offset: -15px;
}

aside {
    padding: 20px;
    padding-top: 5px;
    display: block;
    background-color: #fbd3ca;
    margin: 50px;
    outline: 6px dotted #5e5e79;
    border-radius: 20px;
    outline-offset: -15px;
}

footer {
    padding: 20px;
    display: block;
    background-color: #5e5e79;
    color: white;
    text-align: center;
}

footer p {
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #5e5e79;
    color: white;
}

@media only screen and (min-width: 800px) {

    main {
        padding: 250px 100px 100px 100px;
    }

    section, aside {
        width: 90%;
        height: 100%;
        padding: 20px;
        margin: 100px;
        text-align: center;
    }

    h1 {
        font-size: 45px;
    }

    #header {
        align-items:start;
        padding-bottom: 0;
         /* Sticky Header */
        position: fixed;
    }

    #header h2 {
        width: 500px;
    }

    #header img {
        position: static;
        width: 14%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "a a b b b"
        "a a b b b"
        "c c b b b"
        "c c b b b"
        "c c d d d";
        column-gap: 20px;
        row-gap: 100px;
    }

    #list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #major-projects {
        grid-area: a;
        margin: auto;
    }

    #exercises {
        grid-area: b;
        margin: auto;
    }

    #about-me {
        grid-area: c;
        margin: auto;
    }

    #tools {
        grid-area: d;
        margin: auto;
    }
}